.event-form {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  padding: 15px;

  background-color: rgb(255, 255, 255);

  border-radius: 2%;
  outline: 6px solid rgb(86, 153, 105);

  z-index: 1;

  &_header {
    display: flex;
    justify-content: space-between;
  }

  &_title {
    border: 0;

    &--h3 {
      font-weight: 500;
    }
  }

  &_item {
    padding: 5px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:nth-last-child(2) {
      margin-bottom: 60px;
    }

    &--underline {
      border-bottom: 1px solid gray;
    }

    &--date {
      display: flex;
      justify-content: space-between;
    }

    &--description {
      display: flex;
      justify-content: space-between;
    }
  }

  &_text-area {
    border: 0;
    resize: none;

    font-size: 16px;
  }

  &_create-date {
    padding-top: 20px;

    font-size: 8px;
    color: gray;
  }

  &_button-box {
    display: flex;
    gap: 10px;
  }

  &_legend {
    font-size: 10px;
    color: gray;
  }

  &_time-box {
    height: 35px;
  }

  &--border-off {
    border: 0;
  } 

  &_footer {
    display: flex;
    justify-content: space-between;
  }
}
